<section class="dynamic-vid"></section>
{% render 'dynamic-video-popup' %}

{% schema %}
    {
        "name": "Dynamic video popup",
        "settings": [],
        "presets": [
            {
                "name": "Dynamic video popup"
            }
        ]
    }
{% endschema %}